language: php

php:
    - 7.1
    - 7.2
    - 7.3

install: composer install -n

script:
    - bin/atoum

notifications:
    email:
        recipients:
            - py.stephane1@gmail.com
        on_success: change
        on_failure: change
